body {
 margin: 0px;
 padding: 0px;
 border: 0px;
}

.landing {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #21181f;
  height: 700px;
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

a:link {
  color: white;
}

a:active {
  color: white;
}

a:visited {
  color: white;
}
a:hover {
  color: #fc2d4a;
}

h2 {
  padding: 5px;
  text-transform: uppercase;
}

h3 {
  padding-top: 50px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: gray;
}

.container {
  display: flex;
  justify-content: space-around;
}
.column-left {
  background-color: #21181f;
  float: left;
  width: 12%;
  height: 678px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 22px;
  text-align: right;
}

.column-center {
  padding-top: 80px;
  padding-bottom: 20px;
  padding-left: 3px;
  background-color: #392134;
  display: inline-block;
  width: 11%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
/*  visibility: hidden;
  transition: visibility 0s 0.6s;
  transition: 1s;
  z-index: -1;
  transform: translateX(-12em);*/
}

/*.show {
  transform: translateX(0em);
  transition: 1s;

}*/

.column-right {
  background: url('../images/stage.png');
  background-repeat: no-repeat;
  background-size:cover;
  float: right;
  width: 78%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  padding-left:15px; 
  padding-top: 20px;
  padding-bottom: 20px;
  color: gray;
  background-color: black;
  width: 100%;
}

ul {
  font-family: arial;
  color: white;
  text-transform: uppercase;
  list-style: none;
  padding-top: 100px;
  padding-right: 30px;
}

li {
  padding: 10px;
  /*background-color: black;*/
  margin: 5px;
  text-align: center;
}

#viewbox {
  height: 500px;
  width: 500px;
  margin-top: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.options {
  color: white;
  height: 110px;
  width: 110px;
  background-color: #392134;
}

#clearall {
  font-family: sans-serif;
  background-color: white;
  color: gray;
  padding: 10px;
}